{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:react/recommended"],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": 0,
    "semi": [2, "always"],
    "prefer-const": 2,
    "no-multiple-empty-lines": 0,
    "space-before-function-paren": 0,
    "generator-star-spacing": 0,
    "no-unsafe-finally": 0,
    "no-useless-computed-key": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ]
}
