//Poppins fonts
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./Poppins-Bold.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: local('Poppins-BoldItalic'),
    url(./Poppins-BoldItalic.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'), url(./Poppins-SemiBold.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: local('Poppins-SemiBoldItalic'),
    url(./Poppins-SemiBoldItalic.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'), url(./Poppins-Medium.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: local('Poppins-MediumItalic'),
    url(./Poppins-MediumItalic.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./Poppins-Regular.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-Italic';
  src: local('Poppins-Italic'), url(./Poppins-Italic.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'), url(./Poppins-Light.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: local('Poppins-LightItalic'),
    url(./Poppins-LightItalic.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: local('Poppins-ExtraLight'),
    url(./Poppins-ExtraLight.ttf) format('trueType');
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: local('Poppins-ExtraLightItalic'),
    url(./Poppins-ExtraLightItalic.ttf) format('trueType');
}
