//colors
$white: white;
$black_30: rgba(0, 0, 0, 0.3);
$theme_color: #2e7eea; // IF YOU CHANGE THIS, UPDATE THE VAR IN CONSTRUCTOR IN ReactSlackChat
$color_jade_approx: #00b570;
$color_celeste_approx: #ccc;
$color_shamrock_approx: #43dea3;
$color_picton_blue_approx: #43b2f3;
$color_ebony_clay_approx: #2b2342;
$color_bon_jour_approx: #dfdfdf;
$color_port_gore_approx: #23244e;
$color_athens_gray_approx: #e9eaf3;
$color_curious_blue_approx: #22a2e4;
$primary: #dca1fc;
$secondary: #33ff00;
$tertiary: #76d4ff;
$dark-blue: #04034c;
$light-grey: #f7fafc;
$green-carbon: #1a866c;

//fonts
$font_0: Raleway;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

//icons
@import './attachmentIcon.scss';
@import './staricon.scss';

.transition {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.8s cubic-bezier(0.3, 0, 0, 1.3);
  color: $white;
}
.card {
  background-color: $color_athens_gray_approx;
  font-family: Poppins;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 10px 2px $black_30;
  border-radius: 15px;
  width: 90px;
  height: 80px;
  position: fixed;
  bottom: 0px;
  right: 30px;
  cursor: pointer;
  > div {
    min-height: 0px;
  }
  &.active {
    border-radius: 15px;
    cursor: default;
    height: 70%;
    width: 350px;
    z-index: 2;
    .card_circle {
      background-size: cover;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0;
    }
    h2 {
      color: $white;
      visibility: visible;
      height: auto;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: visibility 0s, opacity 0.5s linear;
      opacity: 1;
      small {
        color: $white;
      }
    }
    &.chatActive {
      .helpHeader {
        visibility: hidden;
        border-radius: 15px;
        opacity: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: visibility 0s, opacity 0.5s linear;
      }
      .channels {
        visibility: hidden;
        opacity: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: visibility 0s, opacity 0.5s linear;
      }
      .chat {
        visibility: visible;
        opacity: 1;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: visibility 0s, opacity 0.5s linear;
      }
    }
    .subText {
      visibility: visible;
      height: auto;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: visibility 0s, opacity 0.5s linear;
      opacity: 1;
    }
    .channel__close__button {
      visibility: visible;
      transition: visibility 0s, opacity 0.5s linear;
      opacity: 1;
    }
    p {
      margin-top: 300px;
    }
    .channelActive.channels {
      overflow-y: auto;
      visibility: visible;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: visibility 0s, opacity 0.5s linear;
      opacity: 1;
      overflow-x: hidden;
    }

    &.channelActive .helpHeader {
      visibility: visible;
      opacity: 1;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: visibility 0s, opacity 0.5s linear;
    }
    .header__text {
      flex-direction: row;
    }
  }
  .channels {
    visibility: hidden;
    opacity: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: visibility 0s, opacity 0.5s linear;
  }
  .chat {
    visibility: hidden;
    opacity: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: visibility 0s, opacity 0.5s linear;
  }
  .subText {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    visibility: hidden;
    height: 0;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
  }
  h2 {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    visibility: hidden;
    height: 0;
    width: 0;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
  }
  .header__text {
    flex-direction: column;
  }
  .channel__close__button {
    height: 0;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
  }
  h2,
  h3 {
    margin: 0;
    text-align: left;
    width: 100%;
    z-index: 1;
    color: $white;
  }
  h2 {
    font-size: 24px;
    font-family: 'Bree Serif', serif;
  }
  h3 {
    font-weight: 400;
    font-size: 12px;
  }
}

.contact {
  position: relative;
  color: $color_port_gore_approx;
  width: 95%;
  height: 50px;
  margin-top: 10px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.contact__photo {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  margin-right: 1.5rem;
  height: 50px;
  width: 50px;
  float: right;

  svg {
    height: 42px;
  }
}
.user__contact__photo {
  float: left;
  margin-top: 2px;
  padding-bottom: 1px;
  height: 42px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  margin-right: 10px;
}
.user__contact__generated__image {
  float: right;
  margin-top: 2px;
  font-size: 2.2em;
  color: $white;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
  background: $theme_color;
  height: 42px;
  min-width: 30px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}
.chat__name {
  font-size: 14px;
  top: 15px;
  right: 12px;
  position: relative;
}
.chat__contact__photo {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  height: 42px;
  float: right;
}
.channel__header__photo {
  visibility: hidden;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)

  border-radius: 50%;
  height: 48px;
  float: right;
  position: relative;
  right: 1.5rem;
  top: 1.5rem;

  svg {
    height: 48px;
  }
}
.channel__close__button {
  position: absolute;
  z-index: 2;
  top: calc(35% - 1em);
  margin-right: 30px;
  left: 90%;
  color: $color_celeste_approx;
  background: none;
  font-weight: bold;
  font-size: 1.4em;
  border: none;
  cursor: pointer;
}

.contact__status {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 8px;
  height: 8px;
  border: 2px solid $color_jade_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  opacity: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0.3s;
  &.online {
    opacity: 1;
  }
}
.chatHeader {
  position: absolute;
  border-radius: 15px 15px 0px 0px;
  top: 0px;
  z-index: 1;
  padding: 20px;

  box-sizing: border-box;
  left: 0rem;
  width: 100%;
  height: 90px;
  background: $theme_color;
}

.helpHeader {
  background: $theme_color;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #00b570;
    border-radius: 50%;
  }
}

.chat__back {
  &:before {
    content: '';
    position: absolute;
    display: block;
    cursor: pointer;
    top: 2.5rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid $color_celeste_approx;
    border-right: none;
    border-bottom: none;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-45deg);
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: transform 0.3s;
  }
  &:hover:before {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(-0.3rem) rotate(-45deg);
  }
}
.chat__status {
  position: relative;
  left: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
}
.chat__person {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 3rem;
  color: $white;
}
.chat__online {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 10px;
  width: 10px;
  border: 2px solid $color_shamrock_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  opacity: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0.3s;
  &.active {
    opacity: 1;
  }
}
.chat__messages {
  position: absolute;
  top: 5.5rem;
  height: 75%;
  width: 96%;
  padding: 0 10px;
  margin-top: 5px;
  overflow-y: auto;
}
.chat__msgRow {
  margin-bottom: 0.5rem;
  // users avatar
  > img {
    height: 42px;
    width: 42px;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &.mine {
    text-align: right;
    > img {
      float: right;
    }
  }
  &.notMine {
    text-align: left;
    > img {
      float: left;
    }
    .chat__message.mentioned {
      background: $color_picton_blue_approx $starIcon no-repeat -2px -2px !important;
      color: $white !important;
    }
  }
}
.chat__message {
  border: 1px solid $color_bon_jour_approx;
  display: inline-block;
  max-width: 60%;
  word-wrap: break-word;
  padding: 0.8rem;
  img {
    width: 20px;
  }
  margin: 0 10px;
  font-size: 14px;
  background-color: #f7fafc;
}
.system__message {
  max-width: 100%;
  color: $theme_color;
}
.attachmentIcon {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 25px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
  background: $attachmentIcon no-repeat;
  background-size: 22px;
  .chat__upload {
    display: none !important;
  }
}
.chat__file__uploading {
  position: absolute;
  color: $white;
  background: $color_curious_blue_approx;
  bottom: 0;
  left: 0;
  width: 84%;
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}
@keyframes dots {
  0% {
    color: rgba(0, 0, 0, 0);
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    color: rgba(0, 0, 0, 0);
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 $white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80% {
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 $white, 0.5em 0 0 $white;
  }
  100% {
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0.25em 0 0 $white, 0.5em 0 0 $white;
  }
}
.chat__input {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-color: $white;
  font-size: 14px;
  color: $color_ebony_clay_approx;
}

.gh-emoji {
  height: 24px;
}
.mine .chat__message {
  color: $color_ebony_clay_approx;
  background-color: $primary;
  border-radius: 15px 5px 15px 15px;
  position: relative;
}
.notMine .chat__message {
  color: $color_port_gore_approx;
  background: $tertiary;
  border-radius: 5px 15px 15px 15px;
}
.unreadNotificationsBadge {
  align-items: center;
  background: white;
  background-color: #fc0;
  border-radius: 100px;
  bottom: 135px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 35px;
  left: 5px;
  line-height: 1;
  min-width: 35px;
  padding: 0 6px;
  place-content: center;
  position: absolute;
  text-align: center;
  top: 5px;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
}
.unreadNotificationsBadge:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}
