/* Slack Chat box */
@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');

/* Element Visibility */
.transition { transition: .8s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 60px;
    overflow: hidden;
    position: fixed;
    right: 40px;
    bottom: 0;
    width: 300px;
    cursor: pointer;
}
.card.active {
    cursor: default;
    height: 500px;
    width: 300px;
    z-index: 99999;
}
.card.active .card_circle {
    background-size: cover;
    border-radius: 0;
}
.card.active h2 {
    background: #3487f7;
    color: #fff;
    padding: 5px;
}
.card .channels {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.card.active .channel-active.channels {
  overflow-y: auto;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
  overflow-x: hidden
}
.card.active.channel-active .help-header {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.card.active.chat-active .help-header {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.card.active.chat-active .channels {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.card .chat {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.card.active.chat-active .chat {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
/* Chat styles */
.contact {
  position: relative;
  width: 95%;
  height: 5rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.contact__photo {
  border-radius: 50%;
  margin-right: 1.5rem;
  height: 48px;
  float: right;
}
.user__contact__photo {
  float: left;
  margin-top: 2px;
  padding-bottom: 1px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px
}
.user__contact__generated__image {
  float: left;
  margin-top: 2px;
  font-size: 2.2em;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 1px;
  background: #3487f7;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px
}
.chat__name {
  left: 1rem;
  top: 1.2rem;
  position: relative
}
.chat__contact__photo {
  border-radius: 50%;
  height: 42px;
  float: right;
}
.channel__header__photo {
  border-radius: 50%;
  height: 48px;
  float: right;
  position: relative;
  left: 5rem;
  bottom: 0.5rem;
}
.contact__name {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.contact__status {
  position: absolute;
  top: 2.1rem;
  right: 1.5rem;
  width: 8px;
  height: 8px;
  border: 2px solid #00B570;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.contact__status.online {
  opacity: 1;
}
.chat__back:hover:before {
  -webkit-transform: translateX(-0.3rem) rotate(-45deg);
          transform: translateX(-0.3rem) rotate(-45deg);
}
.chat__back:before {
  content: "";
  position: absolute;
  display: block;
  cursor: pointer;
  top: 2.4rem;
  left: 1.6rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.chat__status {
  position: relative;
  left: 4.6rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.chat__person {
  display: inline-block;
  position: relative;
  top: 2rem;
  right: 1.5rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #fff;
}
.chat__online {
  position: absolute;
  left: 45px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #43dea3;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.chat__online.active {
  opacity: 1;
}
.chat__messages {
  position: relative;
  bottom: 16rem;
  width: 95%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  max-height: 21.5rem;
  overflow-y: auto;
}
.chat__msgRow {
  margin-bottom: 0.5rem;
}
.chat__msgRow:after {
  content: "";
  display: table;
  clear: both;
}
.chat__msgRow.mine {
  text-align: left;
}
.chat__msgRow.notMine {
  text-align: right;
}
.chat__message {
  display: inline-block;
  max-width: 60%;
  word-wrap: break-word;
  margin-right: 10px;
  padding: 0.8rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.mine .chat__message {
  color: #2B2342;
  border: 1px solid #DFDFDF;
  position: relative;
}
.notMine .chat__message {
  color: #23244E;
  background: #E9EAF3;
}
.chat__input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 73%;
  height: 1.5rem;
  padding: 1rem 1rem 1rem 4rem;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-search.png");
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-color: #E9EAF3;
  color: #2B2342;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.card .sub-text {
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}
.card.active .sub-text {
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}
.card.active h2 small { color: #fff }
.card.active p { margin-top: 300px }
.help-header {
  background: #3487f7;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.chat-header {
  position: absolute;
  top: 0px;
  z-index: 9999;
  left: 0rem;
  width: 100%;
  height: 6rem;
  background: #3487f7;
}
.card h2 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
p {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.gh-emoji {
  height: 24px;
}
/* End Slack chat box */
